@charset "UTF-8";
@import "scroll_icon.css";
@import "stars.css";
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
}

.invisible {
  opacity: 0;
  transition: all ease 0.5s;
}

.visible {
  opacity: 1;
  transition: all ease 0.5s;
}

.fixed {
  position: fixed;
}

.background {
  background-color: rgb(34, 40, 49);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

body {
  margin: 0;
}

.App {
  color: #fff;
}

.container {
  align-items: center;
  padding: 0;
}

.home_title {
  font-size: 35px;
}

.home_word {
  font-size: 16px;
}

.home_title,
.home_word {
  font-family: "TAEBAEKmilkyway";
  font-weight: bold;
  color: white;
}

.home_title::after {
  content: "|";
  display: inline-block;
  animation: blink 0.7s infinite;
  margin-left: 5px;
  z-index: 1;
}

hr {
  width: 10vw;
  height: 1px;
  display: block;
  background: #fff;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* #home {
  background-image: url("../bg-img/home-cnt.png");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center;
} */

.icon_box {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  bottom: 100px;
}

.item_box {
  position: relative;
  margin-top: 35vh;
  margin-bottom: 10vh;
  /* height: 100vh; */
  padding: 0 50px;
}

.item {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  flex-direction: column;
}

.about_box,
.skill_box,
.project_box,
.contact_box {
  position: relative;
  padding: 0px 10px 0px 10px;
  border: 3px solid #fff;
  border-radius: 30px;
  justify-content: center;
}
.skill_box,
.project_box,
.contact_box {
  text-align: center;
}
.skill_box,
.about_box {
  padding-top: 25px;
}

.content_title {
  font-family: "Black Han Sans", sans-serif;
  position: absolute;
  top: -9vh;
  text-align: left;
  font-size: 60px;
  font-weight: 500;
  width: 100%;
  padding: 5px 20px;
  color: rgb(0, 173, 181);
  z-index: 100;
}

#about .content_title::after {
  content: "About me";
  position: absolute;
  color: rgb(238, 238, 238);
  top: -0.1vw;
  left: 0.8vw;
}

.about-text {
  white-space: pre-line;
  line-height: 4.5;
  font-size: 18px;
}

.skill_item {
  padding-top: 20px;
}

#skills .content_title::after {
  content: "Skills";
  position: absolute;
  color: rgb(238, 238, 238);
  top: -0.1vw;
  left: 0.8vw;
}

.skill_img {
  width: 80px;
  height: 80px;
}

.skill_title {
  font-size: 20px;
  font-weight: bold;
  margin: 25px;
}

.skill_description {
  white-space: pre-line;
  margin-bottom: 70px;
}

#project .content_title::after {
  content: "Projects";
  position: absolute;
  color: rgb(238, 238, 238);
  top: -0.1vw;
  left: 0.8vw;
}

#contact .content_title::after {
  content: "Contact";
  position: absolute;
  color: rgb(238, 238, 238);
  top: -0.1vw;
  left: 0.8vw;
}

/* top_button 버튼 */
.top_button {
  right: 20px;
  bottom: 20px;
  animation-name: moveTop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.top_button a {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgba(124, 119, 114, 0.856);
  border-radius: 30px;
  color: black;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}
.top_button a:hover {
  /* transform: rotateY(180deg); */
  background-color: rgb(202, 191, 176);
}

/* 상단 스크롤 이벤트 */
.progress {
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  border-radius: 0;
  z-index: 10000;
}

progress::-webkit-progress-bar {
  background-color: rgb(34, 40, 49);
}

progress::-webkit-progress-value {
  background: #00c3ff; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffff1c,
    #00c3ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* footer */
.footer_wrapper {
  display: flex;
  bottom: 0px;
  font-size: 12px;
  height: 150px;
  padding: 10px 5px;
  background-color: #222;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer_wrapper p {
  margin: 0;
}

.contact_icon_box {
  margin: 30px;
  align-items: center;
}
.contact_icon_box p {
  margin-left: 20px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}
.contact_icon_box img {
  cursor: pointer;
}

.contact_icon {
  margin: 5px;
}

/* 반응형 설정 */
@media screen and (max-width: 992px) {
  .navbar {
    font-size: 10px;
    padding: 10px 5px;
  }
  .collapse {
    margin-left: 0;
  }
  .item_box {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    font-size: 10px;
    padding: 10px 5px;
  }
  .collapse {
    margin-left: 0;
  }
  .home_title {
    font-size: 23px;
  }
  .home_word {
    font-size: 14px;
  }
  .hr {
    width: 10vh;
  }
  #myPage {
    background-position: center;
    background-size: cover;
  }
  #home {
    background-size: 350px 350px;
  }
  .item_box {
    height: 100%;
  }
  .skill_img {
    width: 135px;
    height: 135px;
  }
  .skill_description {
    font-size: 14px;
  }
  .skill_item {
    width: 264px;
  }
  .content_title {
    font-size: 30px;
  }
  #about .content_title::after,
  #skills .content_title::after,
  #project .content_title::after,
  #contact .content_title::after {
    top: 0.3vw;
    left: 4.5vw;
  }
  .mouse {
    width: 40px;
    height: 70px;
  }
  .mouse:before {
    width: 36px;
    height: 66px;
  }
  .mouse::after {
    width: 7px;
    height: 7px;
  }
  .contact_icon_box p {
    display: block;
    margin: 5px 0 0 0;
  }
}
/* animation 설정 */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveTop {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
} /*# sourceMappingURL=App.css.map */
