@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}

.navbar {
  font-weight: bold !important;
  position: fixed;
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  font-family: "TAEBAEKmilkyway";
}

.navbar-brand {
  display: flex;
}

.collapse {
  flex-grow: 0;
}

.nav-item {
  padding: 10px 10px;
}

.nav-item a:hover {
  color: rgb(144, 216, 216);
  transition: all 0.15s;
}

.item_box_area {
  scroll-snap-type: y mandatory;
}

.item_box_area .item_box {
  scroll-snap-align: start;
}

.item {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

#home::after {
  margin-left: 5px;
  content: "|";
  display: inline-block;
  animation: blink 0.7s infinite;
}

#about {
  background-color: #db77ba;
}

#skills {
  background-color: #ddbaba;
}

#project {
  background-color: #789dac;
}

#contact {
  background-color: #a1b397;
}

.btn_bottom_to_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.btn_bottom_to_top a {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  border-radius: 30px;
  color: black;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px, rgb(0 0 0 / 15%) 0px 8px 30px,
    rgb(255 255 255 / 20%) 0px 0px 0px 1px inset !important;
}

.btn_bottom_to_top a:hover {
  transform: rotateY(180deg);
}

.progress {
  position: fixed;
  top: 6.1vh;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  border-radius: 0x;
}

progress::-webkit-progress-bar {
  background-color: inherit;
}

progress::-webkit-progress-value {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer_wrapper {
  display: flex;
  font-size: 12px;
  height: 150px;
  padding: 10px 5px;
  background-color: #e9e6e6;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer_box p {
  padding: 5px;
  margin: 0;
}

.footer_icon_box {
  margin-top: 20px;
}

.footer_icon_box i:hover {
  transition: 0.4s;
  animation-name: moveLeft;
  animation-duration: 5s;
  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
}

.footer_icon {
  cursor: pointer;
  margin: 5px;
}

@media screen and (max-width: 1200px) {
  .progress {
    top: 0;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    font-size: 10px;
    padding: 10px 5px;
  }
  .collapse {
    margin-left: 0;
  }
  .progress {
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: 10px;
    padding: 10px 5px;
  }

  .collapse {
    margin-left: 0;
  }

  .progress {
    top: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    color: red;
  }
  10% {
    color: orange;
  }
  20% {
    color: green;
  }
  30% {
    color: blue;
  }
  40% {
    color: purple;
  }
  50% {
    color: deeppink;
  }
  60% {
    color: purple;
  }
  70% {
    color: blue;
  }
  80% {
    color: green;
  }
  90% {
    color: orange;
  }
  100% {
    color: red;
  }
}
