@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}

.navbar {
  font-weight: bold !important;
  position: fixed;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  font-family: "TAEBAEKmilkyway";
}

.navbar-brand {
  display: flex;
}

.collapse {
  flex-grow: 0;
}

.nav-item a:hover {
  color: rgb(107, 197, 197);
  transition: all 0.15s;
}

.item_box {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

#about {
  background-color: #db77ba;
}

#skills {
  background-color: #ddbaba;
}

#works {
  background-color: #789dac;
}

#contact {
  background-color: #a1b397;
}

.btn_bottom_to_top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.btn_bottom_to_top a {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  border-radius: 30px;
  color: black;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px, rgb(0 0 0 / 15%) 0px 8px 30px,
    rgb(255 255 255 / 20%) 0px 0px 0px 1px inset !important;
}

.btn_bottom_to_top a:hover {
  /* transform: rotate(360deg); */
  transform: rotateY(180deg);
}

.footer_wrapper {
  display: flex;
  font-size: 12px;
  height: 150px;
  padding: 10px 5px;
  background-color: #e9e6e6;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer_box p {
  padding: 5px;
  margin: 0;
}

.footer_icon_box {
  margin-top: 20px;
}

.footer_icon_box i:hover {
  transition: 0.4s;
}

.github:hover {
  color: #536976;
}

.instagram:hover {
  color: #fd1d1d;
}

.footer_icon {
  cursor: pointer;
  margin: 5px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .collapse {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: 10px;
    padding: 10px 5px;
  }

  .collapse {
    margin-left: 0;
  }
}
