@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.App {
  box-sizing: border-box;
  text-align: center;
}

.navbar_box {
  width: 100%;
  position: fixed;
  background-color: white;
}

.navbar {
  height: 67px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-family: "TAEBAEKmilkyway";
}

/* navbar 제목 */
.navbar h2 {
  cursor: pointer;
  margin: 0 auto 0 30px;
}

.navbar > a {
  text-decoration: none;
  color: black;
}

#navbar_btn_box {
  padding: 0;
  display: flex;
  margin-left: auto;
}

/* navbar about skills works contact 버튼 */
.navbar_btn {
  margin-left: auto;
  display: inline-block;
  margin: 0 20px;
}

.navbar_btn a {
  text-decoration: none;
}

.navbar_btn a p {
  margin: 0;
  font-weight: bold;
  color: black;
}

.navbar_btn a p:hover {
  color: rgb(107, 197, 197);
}

.item_box {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  height: 937px;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

#about {
  background-color: #db77ba;
}

#skills {
  background-color: #ddbaba;
}

#works {
  background-color: #789dac;
}

#contact {
  background-color: #a1b397;
}

.top_btn {
  position: fixed;
}
